.wrapper-filtres {
  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-wrap: wrap;
  }

  .block-views {
    @media (min-width: $screen-lg-min) {
      width: 50%;
    }

    .form-item {
      position: relative;
      margin-bottom: 1rem;

      &:after {
        content: $cdcicon-date;
        font-family: $icomoon-font-family;
        position: absolute;
        right: 15px;
        top: 10px;
      }
    }

    label {
      margin-right: 5px;
      font-weight: 400;

      & + input {
        @media (min-width: $screen-sm-min) {
          max-width: 180px;
          margin-right: 5px;
        }
      }
    }

    .form-actions {
      button {
        @extend %btn-primary;
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 0 0 10px;
      }
    }
  }
}

//Champs date
.icdc-facets-datepicker {
  display: inline-block;
  height: 40px;
  width: calc(100% - 30px);
  background: $white;
  border: 0;
  border-radius: 0;
  box-shadow: none;

  @media (min-width: $screen-sm-min) {
    width: 180px;
  }
}

//Filtres tags
.block-icdc-facets {
  margin-bottom: 20px;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      list-style: none;

      a {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 2px;
        font-size: 1.3rem;
        color: $noir-web;

        &:before {
          content: $cdcicon-close;
          font-family: $icomoon-font-family;
          margin-right: 20px;
        }
      }

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:first-child {
        a {
          background: $couleur-rouge;
          color: $white;
        }
      }
    }
  }
}
