{#
/**
 * @file
 * Default theme implementation for a facets item list.
 *
 * @ingroup themeable
 */
#}
<a href="{{ url|raw }}" aria-label="{{ label|escape ~ ' ' ~ 'remove filter'|t }}">{{ label }}</a>
