.webform-submission-form {
  .panel {
    .panel-heading {
      .panel-title {
        font-family: 'Roboto Slab';
        font-size: 2.6rem;
        line-height: 3.2rem;
        margin-top: 0;
        margin-bottom: 2rem;
      }
    }
  }
}
