{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set cell_classes = [default_row_class ? 'views-row',] %}
{% if view.getTitle() is not empty %}
  <div class="col-md-12">
    <div class="wrapper-tag-desc">
      <h2>{{ view.getTitle() }}</h2>
      </div>
  </div>
{% endif %}

{% for row in rows %}
  {% set row_classes = 'col-xs-12 col-sm-6 col-md-4' %}
  <div class="{{ row_classes }}">
    <div{{ row.attributes.addClass(cell_classes) }}>
      {{ row.content }}
    </div>
  </div>
{% endfor %}
