<div
  id="accessconfig"
  data-accessconfig-buttonname="Paramètres d’accessibilité"
  data-accessconfig-params='{
  "Prefix" : "a42-ac",
  "ContainerClass" : "",
  "ModalCloseButton" : "",
  "ModalTitle" : "",
  "FormFieldset" : "",
  "FormFieldsetLegend" : "",
  "FormRadio" : "",
  "Justification": false,
  "ImageReplacement": false
  }'
>
    <button class="btn btn-nude button-menu" data-accessconfig-button="true">
        <span class="sr-only button-menu__label">Paramètres d’accessibilité</span>
        <span class="cdcicon cdcicon-accessibilite-2 button-menu__icon" aria-hidden="true"></span>
    </button>
</div>

