{#
/**
 * @file mini_site_page.html.twig
 * Default theme implementation to present Mini site page data.
 *
 * This template is used when viewing Mini site page pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mini_site_page()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mini_site_page') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
