<div class="content-transcription">
    <button class="display-transcription">Afficher la version textuelle de la vidéo</button>
    <div class="transcrition">
        {{ items[0].content }}
    </div>
</div>
